<hr>
<div class="goodbye">
  <figure>
  <%= image_tag("hazmat-wave.png", alt: "Hazardous Suit man waving goodbye", class: "hazmat-goodbye-man") %>
  <figcaption>Have a good and clean day!</figcaption>
  </figure>
</div>
