<hr>
<div id="References">
  <h3>References</h3>
  <ol>
    <li id="citation-1">The 3600 cases were pulled from this data: <%= link_to("https://data.sfgov.org/api/views/mv85-4ee7/rows.xml?accessType=DOWNLOAD", "https://data.sfgov.org/api/views/mv85-4ee7/rows.xml?accessType=DOWNLOAD") %></li> 
    <li id="citation-2">San Francisco Seal image source: <%= link_to("sfcontroller.org/index.aspx?page=156", "http://sfcontroller.org/index.aspx?page=156") %></li>
  </ol>
</div>
