<hr>
<div id="References">
  <h3>References</h3>
  <ol>
    <li id="citation-1">The 3600 cases were pulled from this data: <%= link_to("https://data.sfgov.org/api/views/mv85-4ee7/rows.xml?accessType=DOWNLOAD", "https://data.sfgov.org/api/views/mv85-4ee7/rows.xml?accessType=DOWNLOAD") %></li> 
    <li id="citation-2">San Francisco Seal image source: <%= link_to("sfcontroller.org/index.aspx?page=156", "http://sfcontroller.org/index.aspx?page=156") %></li>
    <li id="citation-3">Various San Francisco District images by <a href="//commons.wikimedia.org/wiki/user:kurykh" title="user:kurykh">kurykh</a> - <span class="int-own-work">own work</span>. Licensed under <a href="http://creativecommons.org/licenses/by-sa/3.0" title="creative commons attribution-share alike 3.0">cc by-sa 3.0</a> via <a href="//commons.wikimedia.org/wiki/">wikimedia commons</a>. Example of District 1: <a href="http://commons.wikimedia.org/wiki/File:San_Francisco_District_1_(2012).svg#mediaviewer/File:San_Francisco_District_1_(2012).svg">San Francisco District 1 (2012)</a>
    </li>
  </ol>
</div>
