<div class="row">
  <div class="col-md-6">
    <p>This website pays tribute to the cleaning up of peoples' 'tributes' to the City of San Francisco, that is, their public human waste.  Cleanup data is provided by San Francisco's Open Data project (<%= link_to 'data.sfgov.org', 'https://data.sfgov.org' %>). Find out how active your district was with clean ups!
  </div>
  <div class="col-md-6">
    <%= image_tag("hwcu-image_600x700.png", alt: "Hero Image", class: "hero-image") %>
  </div>
</div><!-- class row -->  

<%= render 'districts' %>
