/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.district-col {
  text-align: center; /* This affects the image too? */
}
.district-col li {
  text-align: left;
}
#Districts h1 {
  text-align: center;
}
